<ion-modal-view>
  <ion-header-bar class="bar-positive">
    <h1 class="title">应用项目</h1>
    <div class="buttons">
      <button class="button button-clear" ng-click="closeProjectModal()">关闭</button>
    </div>
  </ion-header-bar>
  <ion-content>
    <ion-list>
      <ion-item item="item"
                ng-repeat="project in projectInfos"
                ng-click="goProject($index)"
                class="item-icon-right"
      >
        {{ project.name }}
        <i class="icon ion-ios-arrow-right"></i>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-modal-view>
