<ion-header-bar class="bar-positive">
  <h1 class="title">刘兆龙简历系统</h1>
  <div class="buttons">
    <button class="button button-clear positive" ng-click="closeLogin()">退出</button>
  </div>
</ion-header-bar>
<ion-content overflow-scroll="false" has-bouncing="true">
  <form ng-submit="doLogin()">
    <div class="list">
      <div class="item login-top-img">
        <img src="img/head.png"/>
      </div>
      <label class="item item-input">
        <span class="input-label">账号</span>
        <input type="text" ng-model="loginData.username">
      </label>
      <label class="item item-input">
        <span class="input-label">密码</span>
        <input type="password" ng-model="loginData.password">
      </label>
      <label class="item" style="border-bottom: 0">
        <button class="button button-block button-positive" type="submit">登录</button>
      </label>
    </div>
  </form>
</ion-content>
