<ion-side-menus enable-menu-with-back-views="false">
  <ion-side-menu-content>
    <ion-nav-bar class="bar-positive">
      <ion-nav-back-button>
      </ion-nav-back-button>

      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
      </ion-nav-buttons>
      <ion-nav-buttons side="right">
        <a class="button button-clear" ng-click="goBack()">
          <i class="icon ion-home"></i>
        </a>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu side="left">
    <ion-header-bar class="bar-royal">
      <h1 class="title">刘兆龙简历</h1>
    </ion-header-bar>
    <ion-content>
      <ion-list>
        <ion-item class="item-icon-right" menu-close href="#/app/baseInfo">
          基本信息
          <i class="icon ion-ios-arrow-right"></i>
        </ion-item>
        <ion-item class="item-icon-right" menu-close href="#/app/skill">
          技能信息
          <i class="icon ion-ios-arrow-right"></i>
        </ion-item>
        <ion-item class="item-icon-right" menu-close href="#/app/achievement">
          求学成果
          <i class="icon ion-ios-arrow-right"></i>
        </ion-item>
        <ion-item class="item-icon-right" menu-close href="#/app/education">
          教育信息
          <i class="icon ion-ios-arrow-right"></i>
        </ion-item>
        <ion-item class="item-icon-right" menu-close href="#/app/work">
          工作经历
          <i class="icon ion-ios-arrow-right"></i>
        </ion-item>
        <div class="item item-divider item-icon-left"
             on-tap="isShowProject()"
        >
          <i ng-show="!isProject" class="icon ion-ios-plus-outline" ></i>
          <i ng-show="isProject" class="icon ion-ios-minus-outline" ></i>
          项目信息
        </div>
        <ion-item ng-show="isProject" class="item-icon-right" menu-close href="#/app/appProject">
          应用项目
          <i class="icon ion-ios-arrow-right"></i>
        </ion-item>
        <ion-item ng-show="isProject" class="item-icon-right" menu-close href="#/app/sicProject">
          科研项目
          <i class="icon ion-ios-arrow-right"></i>
        </ion-item>
        <ion-item class="item-icon-right" menu-close href="#/app/personal">
          个人评价
          <i class="icon ion-ios-arrow-right"></i>
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
