<ion-view view-title="技能信息">
  <ion-content padding="true"
               overflow-scroll="false"
               has-bouncing="true"
  >
    <!--下拉刷新-->
    <ion-refresher
      pulling-text="下拉刷新..."
      on-refresh="doRefresh()"
    >
    </ion-refresher>

    <!--内容-->
    <div ng-repeat="skillInfo in skillInfos">
      <h4 class="title-left">{{ skillInfo.name }}</h4>
      <p class="skill-content">{{ skillInfo.content }}</p>
    </div>
  </ion-content>
  <ion-footer-bar class="bar-stable">
    <div class="buttons">
      <a class="button button-clear icon icon-left ion-chevron-left" href="#/app/baseInfo">上一页</a>
    </div>
    <h1 class="title"></h1>
    <div class="buttons">
      <a class="button button-clear icon icon-right ion-chevron-right" href="#/app/achievement">下一页</a>
    </div>
  </ion-footer-bar>
</ion-view>
