<ion-view view-title="刘兆龙的简历">
  <ion-content padding="true"
               overflow-scroll="false"
               has-bouncing="true"
  >
    <div class="welcome-button-help">
      <button class="button button-icon ion ion-ios-help-outline"
              ng-click="helpEvent($event)"
      >
      </button>
    </div>
    <div class="welcome-text">
      欢迎浏览刘兆龙的简历
    </div>
  </ion-content>
  <ion-footer-bar class="bar-stable" style="background-image: none; background-color: #fff;">
    <h1 class="title"></h1>
    <div class="buttons">
      <button class="button button-clear assertive" ng-click="exit()">退出</button>
    </div>
  </ion-footer-bar>
</ion-view>
