/*Loading*/
.loading-container .loading {
  background-color: rgba(0, 0, 0, 0);
}
.spinner svg {
  width: 100px;
  height: 100px;
}
.backdrop.active {
  opacity: 0.4;
}
/*ion-refresher*/
.icon-refreshing .spinner svg {
  width: 28px;
  height: 28px;
}

/* Login.html */
.input-label {
  width: 50px;
}

/*welcome.html*/
.welcome-text {
  text-align: center;
  font-size: 25px;
  font-weight: bold;
  margin-top: 50%;
}

/*baseInfo.html*/
.base-info-table {
  width: 100%;
  font-size: 16px;
}

.base-info-table th {
  padding: 5px;
  text-align: right;
  width: 90px;
  font-weight: bold;
}
.base-info-table td {
  padding: 5px;
  text-align: left;
}

/*skill.html*/
.skill-content{
  text-align: justify;
  text-indent:2em;
}
.title-left {
  font-weight: bold;
}
